.sidebar{

    width:240px;

    background:white;

    border-right:1px solid #dddddd;

    padding:20px;

    display:flex;

    flex-direction:column;

    gap:15px;
}

.sidebarTitle{

    text-align:center;

    margin-bottom:15px;

    color:#2563eb;
}

.sidebarButton{

    width:100%;

    padding:12px;

    border:none;

    border-radius:8px;

    background:#f3f4f6;

    cursor:pointer;

    font-size:16px;

    text-align:left;

    transition:0.3s;
}

.sidebarButton:hover{

    background:#dbeafe;
}

.activeSidebarButton{

    background:#2563eb;

    color:white;

    font-weight:bold;
}
.sidebarOverlay{
    display:none;
}

@media(max-width:1024px){

    .sidebar{
        position:fixed;
        top:70px;
        left:0;
        bottom:0;
        z-index:200;
        transform:translateX(-100%);
        transition:transform 0.3s ease;
        box-shadow:2px 0px 10px rgba(0,0,0,0.15);
    }

    .sidebarOpen{
        transform:translateX(0);
    }

    .sidebarOverlay{
        display:block;
        position:fixed;
        top:70px;
        left:0;
        right:0;
        bottom:0;
        background:rgba(0,0,0,0.4);
        z-index:150;
    }

}